In [1]:
# 필요패키지 import
import time
import json
import urllib
import requests
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from bs4 import BeautifulSoup

In [6]:
#데이터 담는 곳
desc_list = []

for num in range(21,25):
#딜레이    
    seed = np.random.randint(100)
    np.random.seed(seed)
    a = np.random.randint(1) + round(np.random.random(),2)
    time.sleep(a)

#욕설신고 게시판 제목 크롤링
    url = f'https://www.inven.co.kr/board/lol/2771?category=%EC%9A%95%EC%84%A4&p={num}'
    resp = requests.get(url)
    html = BeautifulSoup(resp.text, 'html.parser')
    for news in html.select('td.tit'):
        desc_list.append(news.text.strip().replace('\t','').replace('\n',''))

In [7]:
len(desc_list)

240

In [11]:
nick_list = []
for i in range(0,240):
    nick_list.append(desc_list[i].split())

In [14]:
nick_df = pd.DataFrame(nick_list)

In [15]:
nick_df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,[욕설],[박제]Jea,Hyeon00,위안부드립침,전번깜,01085571284,None,None,None,None,None,None,None,None
1,[욕설],트롤러와,패드립퍼듀오,박제,시킵니다,None,None,None,None,None,None,None,None,None
2,[욕설],WYBH,GIRIBOYZ,<<--트롤,욕설,박제요,사진,None,None,None,None,None,None,None
3,[욕설],shotgun25,갑자기,욕,박음,None,None,None,None,None,None,None,None,None
4,[욕설],Anyvitaus,패드립,박제,사진,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
235,[욕설],play,yasuo,best,패드립,[3],None,None,None,None,None,None,None,None
236,[욕설],김혜진,내노예,<<패작러,제보,사진,None,None,None,None,None,None,None,None
237,[욕설],96윤동현,이거부캐임트롤함,패드립,[2],None,None,None,None,None,None,None,None,None
238,[욕설],롤겜하다가,None,None,None,None,None,None,None,None,None,None,None,None
239,[욕설],포항,이즈리얼,<-,미드,룰루,하고,랭에서,트롤하는,트롤러,None,None,None,None

In [16]:
nick_df.to_csv('./nick_df1.csv', index=False)

In [29]:
#전처리 데이터 불러오기
df = pd.read_csv('./raw220628.csv',
                 encoding='utf-8')

In [30]:
df

            Column2
0               턱돼지
1          핑찍으면우물잠수
2     Visual Jockey
3               이원일
4              mvp맨
...             ...
1108        관악산오리백숙
1109           T1테뒤
1110         문란한사생활
1111          카와이민성
1112          콜라마신다

[1113 rows x 1 columns]

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1113 entries, 0 to 1112
Data columns (total 1 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Column2  1113 non-null   object
dtypes: object(1)
memory usage: 8.8+ KB

In [32]:
df.value_counts()

Column2
0티어나르      1
양파맛우유      1
어린왕자지완     1
어른아이님      1
어떻게성이류야    1
          ..
내고추한라산     1
내꿈은뜨뜨뜨뜨    1
내루트따라줘     1
내마눌김새론     1
힐주랑        1
Length: 1113, dtype: int64