In [1]:
# 필요패키지 import
import time
import json
import urllib
import requests
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from bs4 import BeautifulSoup

In [2]:
#데이터 담는 곳
desc_list = []

for num in range(26,30):
#딜레이    
    seed = np.random.randint(100)
    np.random.seed(seed)
    a = np.random.randint(1) + round(np.random.random(),2)
    time.sleep(a)

#욕설신고 게시판 제목 크롤링
    url = f'https://www.inven.co.kr/board/lol/2771?category=%EC%9A%95%EC%84%A4&p={num}'
    resp = requests.get(url)
    html = BeautifulSoup(resp.text, 'html.parser')
    for news in html.select('td.tit'):
        desc_list.append(news.text.strip().replace('\t','').replace('\n',''))

In [3]:
len(desc_list)

240

In [4]:
nick_list = []
for i in range(0,240):
    nick_list.append(desc_list[i].split())

In [5]:
nick_df = pd.DataFrame(nick_list)

In [6]:
nick_df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,[욕설],미드여신이렐리아<-,"패드립,","욕설,",혐오발언,None,None,None,None,None,None,None,None,None,None,None
1,[욕설],롤은,패드립이,기본,옵션인듯..,[1],사진,None,None,None,None,None,None,None,None,None
2,[욕설],별공주,<<,일겜트롤러,None,None,None,None,None,None,None,None,None,None,None,None
3,[욕설],칼바람,욕설,및,트롤유저,신고[개인팟TV],사진,None,None,None,None,None,None,None,None,None
4,[욕설],개,악질새끼들,박제,사진,None,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
235,[욕설],5인,비매너/욕설/패드립,박제합니다.,사진,None,None,None,None,None,None,None,None,None,None,None
236,[욕설],욕설,사용,유저,신고,사진,None,None,None,None,None,None,None,None,None,None
237,[욕설],티,팔,<<,패드립,사진,None,None,None,None,None,None,None,None,None,None
238,[욕설],꽃이,필,때,까지<<,패드립,박제,사진,None,None,None,None,None,None,None,None
239,[욕설],채팅하면,던질거,<--패작러,사진,None,None,None,None,None,None,None,None,None,None,None

In [7]:
nick_df.to_csv('./nick_df1.csv', index=False)

In [29]:
#전처리 데이터 불러오기
df = pd.read_csv('./raw220628.csv',
                 encoding='utf-8')

In [30]:
df

            Column2
0               턱돼지
1          핑찍으면우물잠수
2     Visual Jockey
3               이원일
4              mvp맨
...             ...
1108        관악산오리백숙
1109           T1테뒤
1110         문란한사생활
1111          카와이민성
1112          콜라마신다

[1113 rows x 1 columns]

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1113 entries, 0 to 1112
Data columns (total 1 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Column2  1113 non-null   object
dtypes: object(1)
memory usage: 8.8+ KB

In [32]:
df.value_counts()

Column2
0티어나르      1
양파맛우유      1
어린왕자지완     1
어른아이님      1
어떻게성이류야    1
          ..
내고추한라산     1
내꿈은뜨뜨뜨뜨    1
내루트따라줘     1
내마눌김새론     1
힐주랑        1
Length: 1113, dtype: int64

In [8]:
data2 = pd.read_csv('./raw220629.csv')